{%  load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<link rel = "shortcut icon" type="image/png" href ="../static/images/logo/jonathanaieye.png" >


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>JA - About</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>
    <script src=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <!--Script to allow discord icon to pop up-->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>


    <!-- Bootstrap Core CSS -->
    <link href="{%  static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">



    <!-- Theme CSS -->
    <link href="{%  static 'css/style2.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src=" https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src=" https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">

                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                  <a class="navbar-brand" href="/about">Jonathan Almawi</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://www.linkedin.com/in/jonathan-almawi-478a6b12b/detail/recent-activity/posts/">
                            Articles</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/programs">Programs</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/contact">Contact</a>
                    </li>
                    <!--Hidden
                    <li class="page-scroll">
                        <a href="/python_apps">Python Apps</a>
                    </li>
                    -->

                </ul>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>


    <!-- Header -->
    <header>
        <!-- First Page of site w/face as logo-->
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <h3><b>Who Am I?</b></h3>
                    <img class="img-responsive" src="{%  static 'images/jaface.JPG' %}" alt="Who Am I?" width="304" height="236">
                    <div class="intro-text">
                    <h4><b>I'm Jonathan Almawi</b></h4>
                    <h3><b>The Sedulous Experimenter </b>&</h3><h3>  Inquisitor of Knowledge </h3>


                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr class="star-light">
    <img src="{%  static 'images/downloads/lets_see.PNG' %}" height=140px; >
    <hr class="star-light">
    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello, I am Jonathan Almawi, a full time Governer State University Student studying for my
                    Computer Science/Cyber Security Bachelors Degree. I'm also part of both Of Phi Theta Kappa, and
                     National Society of Collegiate Scholars (NSCS). </p>
                </div>

                <div class="col-lg-4">
                    <p> On my spare time, I study python, work on programming experiments and projects to further
                    improve my progrmaming knowledge. I am always seeking to further learn and find better ways
                    to make my code and programs more efficient. When ever I have an obstacle or an objective, I will
                    keep working at it, until the objective  has been completed. </p>
                </div>

                 <div class="col-lg-4 col-lg-offset-2">
                    <p>I enjoy working in both team player & solo environments, I'm usualy the person to go to, if someone
                    has a question or problem they need some assistance with, due to my perspective on the issue I can find a solution that is
                    both easy to understand and efficient to implement. I'm always looking for ways to improve both present and future
                    events. </p>
                </div>

                <div class="col-lg-4">
                    <p>Overall I attribute to my success of my abilities to keep persisting until the problem has been solved,
                        and my ability to work & communicate well with others for long periods of time.
                    </p>

                </div>
            </div>
        </div>
    </section>



    <!-- Footer -->
    <footer class="text-center">

        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>Chicago Illinois,
                            <br>United States</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3></h3>
                        <p></p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Social Networks</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://discord.gg/wUCW5tV" target="_blank"
                                   class="btn-social btn-outline"><span class="sr-only">Discord Server</span><i class="fab fa-discord" style='font-size:24px'></i></a>
                            </li>
                            <li>
                                <a href="https://theviiiager.wordpress.com/author/theviiiager/" class="btn-social btn-outline" target="_blank">
                                    <span class="sr-only">WordPress</span><i class="fa fa-fw fa-wordpress"
                                                                             style='font-size:24px'></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/CyborgVillager" class="btn-social btn-outline" target="_blank"><span class="sr-only">GitHub</span><i class="fa fa-fw fa-github"
                                                                                                                                                                 style='font-size:24px'></i></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Jonathan Almawi - JA Portfolio 2020
                    </div>
                </div>
            </div>
        </div>

    </footer>
</body>


</html>

